.inicio-home {
  width: 100%;
  height: 70vh;
}

.products-pagination {
  background-image: url("../assets/home-completo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

.products-page {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  z-index: 1;
}

/* Estiliza la lista de productos como una cuadrícula */
.products-page ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(200px, 1fr);
  gap: 2rem;
  list-style-type: none; /* Elimina los puntos de la lista si estás usando ul */
  padding: 0;
  margin: 50px;
  z-index: 100;
}

/* Estiliza cada elemento de la lista (producto) */
.products-page li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  background: #f2f9fd;
  color: black;
  padding: 1rem;
}

.products-page h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: -5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #f2f9fd;
}

.products-page hr {
  margin-bottom: 50px;
  width: 50%; /* Ajusta el ancho según sea necesario */
  border: 2px solid #f2f9fd; /* Color oscuro */
  margin-left: auto;
  margin-right: auto; /* Esto centra el hr */
  margin-bottom: 0px;
}

/* Estiliza la descripción y precio */
.products-page span {
  font-size: 1rem;
  opacity: 0.9;
}

/* Estiliza las imágenes */
.products-page img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  margin-left: 5px;
}

/* Estilo específico para los botones dentro del card component */
.card .card_content {
  display: flex;
  flex-direction: column;
}

/*Los dos siguientes contenedores es para darle transición suave a las imagenes*/
.card-img {
  transition: transform 0.3s ease; 
}

.card-img:hover {
  transform: scale(1.1); /* Aumenta el tamaño de la imagen un 10% */
}

/* Estiliza el título de cada producto */
.card_title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: medium;
  font-size: medium;
}

.card_price {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card .add_button,
.card .remove_button {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: none;
  position: sticky;
}

.card .circle {
  display: flex;
  align-items: flex-start;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 30px;
  background: #a6a6a6;
  opacity: 0.8;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  right: 12px;
  top: auto;
  z-index: 1;
  flex-direction: column;
}

.card .circle:hover, 
.card .add_button:hover,
.card .remove_button:hover{
  background-color: rgb(221, 218, 218);
}

.stock-available {
  color: #079c45;
  font-size: 0.7rem;
  font-weight: normal;
}

.stock-unavailable {
  color: #f10b0b;
  font-size: 0.7rem;
  font-weight: normal;
}

/*Paginación de productos*/
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.page-item .page-link {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border: 1px solid #003366;
  color: #003366;
}

.page-item.active .page-link {
  background-color: #003366;
  color: #fff;
}

.page-item.disabled .page-link {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Cambio de fondo al pasar el mouse sobre los elementos "Anterior" y "Siguiente" */
.pagination .page-item:not(.disabled) .page-link:hover {
  background-color: #003366;
  color: white;
}

.product-alert {
  cursor: pointer;
}