/* Asegúrate de que el contenedor de los productos esté estilizado */
.products {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Estiliza la lista de productos como una cuadrícula */
.products ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(200px, 1fr);
  gap: 2rem;
  list-style-type: none; /* Elimina los puntos de la lista si estás usando ul */
  padding: 0;
  margin: 0;
}

/* Estiliza cada elemento de la lista (producto) */
.products li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  background: #f4f4f4;
  color: black;
  padding: 1rem;
}

.products h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.products hr {
  margin-bottom: 50px;
  width: 50%; /* Ajusta el ancho según sea necesario */
  border: 2px solid black; /* Color oscuro */
  margin-left: auto;
  margin-right: auto; /* Esto centra el hr */
}

/* Estiliza la descripción y precio */
.products span {
  font-size: 1rem;
  opacity: 0.9;
}

/* Estiliza las imágenes */
.products img {
  border-radius: 8px;
  width: 200px;
  height: 200px;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
  margin-left: 10px;
}

/* Estilo específico para los botones dentro del card component */
.card .card_content {
  display: flex;
  flex-direction: column;
}

/* Estiliza el título de cada producto */
.card_title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: medium;
  font-size: medium;
}

.card_price {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*
  .card .add_button,
  .card .remove_button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
  }
    */

.card .add_button,
.card .remove_button {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: none;
  position: sticky;
}

.card .circle {
  display: flex;
  align-items: flex-start;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 30px;
  background: #a6a6a6;
  opacity: 0.8;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 155px;
  right: 28px;
  z-index: 1;
}

/*Paginación de productos*/
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 80px;
}


.page-item .page-link {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border: 1px solid #0a356e;
  color: #81abe1;
}

.page-item.active .page-link {
  background-color: #416797;
  color: #fff;
}

.page-item.disabled .page-link {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Cambio de fondo al pasar el mouse sobre los elementos "Anterior" y "Siguiente" */
.pagination .page-item:not(.disabled) .page-link:hover {
  background-color: #b1c7e4; 
  color: white; 
}