/*
.cart {
    background: #000;
    display: none;
    padding: 32px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 200px;

    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
}
    */
.cart {
    position: fixed; /* Posición fija para que el popup permanezca en la pantalla */
    right: 0;
    top: 0;
    width: 300px;
    background: #000;
    color: #fff;
    padding: 20px;
    z-index: 1000;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.cart li {
    border-bottom: 1px solid #444;
    padding-bottom: 16px;
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno por defecto */
    margin: 0; /* Elimina el margen por defecto */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    border: none;
    font-size: 10px;
}

.cart-button {
    align-items: center;
    background: #09f;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
}

.cart-button:hover {
    scale: 1.1;
}

/*
.cart-button~input:checked~.cart {
    height: 100%;
    display: block;
}
*/