.cart {
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  background: #bed0dd;
  color: black;
  padding: 0px;
  z-index: 1000;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-container {
  height: 100%; 
  overflow-y: scroll; 
  margin-top: 10px;
}

.x-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #dc3546e5;
  color: #dce6e8;
  border: none;
  font-size: 10px;
  border-radius: 3px;
}

.x-btn:hover {
  cursor: pointer;
  background-color: #f09999; 
  border-color: #f09999;
}

.cart h3 {
  text-align: center;
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.title-container {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: small;
}

.price-container {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: small;
  font-size: small;
}

.cart-product {
  border: 2px solid #2c556b;
  border-radius: 8px;
  margin-right: 25px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.image-container {
  text-align: center;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

.cart li {
  padding-bottom: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.counter-products {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 10px;
}

/* Botón de decremento */
.btn-outline-primary {
  color: #fff;
  background-color: #283b54;
  border-color: #283b54;
}

/* Botón de cantidad */
.btn-primary {
  background-color: white; 
  border-color: inherit; 
  color: gray;
}

/* Deshabilitar el hover para el botón .btn-primary */
.btn-primary:hover {
  background-color: white; 
  border-color: #f4f4f4; 
  color: gray; 
  cursor: default;
  border-color: inherit; 
}

.cart-product .counter-products .btn-primary {
  background-color: none; 
  color: none; 
  border: none; 
}

.cart-product .counter-products .btn-primary:active {
  background-color: #f4f4f4; 
  color: #283b54; 
  box-shadow: none; 
}


/* Botón de incremento */
.btn-outline-primary:hover {
  background-color: #81abe1; 
  border-color: #81abe1;
}

/* Botón de eliminar */
.btn-danger {
  background-color: #dc3546e5; 
  border-color: #dc3545;
}

.delete-group .btn-danger:hover {
  background-color: #f09999; 
  border-color: #f09999;
}

.delete-group {
  margin-left: 10px;
}

/* Linea divisora del total*/
.cart hr {
  margin: 10px;
  width: 80%; 
  border: 1px solid black; 
  margin-left: auto;
  margin-right: auto; 
}

.total-container h4 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: medium;
  font-size: medium;
}

.close-botton {
  margin: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: small;
  font-size: small;
}

/*Botón de continuar compra*/
.close-botton .btn-primary {
  background-color: #6686af;
  color: black;
  border: 2px solid #6686af;
}

/*Hover para el botón de continuar compra*/
.close-botton .btn-primary:hover {
  background-color: #a4c4ee;
  border: 2px solid #a4c4ee;
}