@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.background {
  background-color: rgb(83, 97, 180);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.container {
  height: 95%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-box .title{
  font-family: "Poppins", "sans-serif";
  font-weight: 500;
  text-align: center;
  color: black;
}

.category-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0;
}

.accordion-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.category-item {
  width: 100%;
  border: 2px solid black;
  margin-bottom: 0;
  padding: 0;
}

.category-buttons {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-left: 2px solid black;
}

.category-buttons.column {
  flex-direction: column;
  gap: 4px;
}

.restore-button {
  height: 96px;
}
