.navbar {
  display: flex;
  align-items: center;
}

.navbar-user {
  display: flex;
  align-items: center;
}

.navbar-cart {
  display: flex;
  align-items: center;
}

.navbar > * {
  margin-right: 20px; /* Añade separación entre los elementos */
}
