/* Estilo para los submenús (dropdowns anidados) */
.navbar {
  transition: opacity 0.3s ease;
}
.dropdown-menu {
  position: absolute;
  left: 100%; /* Hace que el submenú aparezca a la derecha del menú principal */
  top: 0;
  margin-top: 0;
  display: none; /* Por defecto, oculta el submenú */
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block; /* Muestra el submenú cuando se pasa el cursor sobre la categoría principal */
}

.dropdown-submenu {
  position: relative;
}

.navbar-nav .dropdown-submenu .dropdown-item::after {
  /* Añade un ícono en los ítems que tienen submenú */
  float: right;
}

.navbar-nav .dropdown-menu > .dropdown-submenu .dropdown-menu {
  left: 100%; /* Alinea el submenú a la derecha del menú principal */
  top: 0;
  margin-left: 0;
}

/*Hacemos desaparecer al carrito cuando llega a los 991px*/
@media (max-width: 991px) {
  .cart-icon {
    display: none;
  }
}
