.product-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

/*Contenedor para editar el botón de x del popup del producto*/
.x-btn-popup {
  position: absolute;
  top: 96px;
  right: 210px;
  background: #dc3546e5;
  color: #283b54;
  border: none;
  font-size: 12px;
  border-radius: 10px;
  width: 25px;
  height: 25px;
}

/*Contenedor para editar el botón de x del popup del producto cuando el usuario coloca el mouse encima*/
.x-btn-popup:hover {
  cursor: pointer;
  background-color: #f09999;
  border-color: #f09999;
}

.details-container h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 1000;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 1.5rem; /* Cambia el tamaño del título */
  width: 85%;
  margin-left: 10px;
}

/* Cambia el tamaño de las palabras dentro de price-container */
.details-container .price-container span,
.details-container .price-container p {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 1rem;
  width: 85%;
  margin-left: 10px;
}
.details-container .price-container span {
  font-weight: bold;
}

.details-container .price-container p {
  font-weight: normal;
}

/* Cambia el tamaño de los span que contienen "Descripción" */
.details-container span {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 1rem;
  font-weight: bold;
  width: 85%;
  margin-left: 10px;
}

/* Cambia el tamaño de los párrafos de descripción */
.details-container p {
  font-size: 1, 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 1rem;
  width: 85%;
  margin-left: 10px;
  font-weight: normal;
}

.details-container .price-container {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: large;
}

/*Contenedor de todos los elementos del popup*/
.product-container .popup-content {
  display: flex;
  flex-direction: row; /* Coloca los elementos uno al lado del otro (horizontalmente) */
  align-items: flex-start; /* Alinea los elementos en la parte superior del contenedor */
  justify-content: flex-start; /* Alinea los elementos al principio del contenedor */
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 70%;
  height: 70%;
}

/*Contenedor para la imagen del producto, que estará en el lado izquierdo*/
.popup-content .image-container {
  border-radius: 8px;
  max-width: 300px;
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content .image-container img {
  display: block;
  margin-top: 150px;
  margin-left: 50px;
  height: 50vh;
  width: 100%;
}

/*Contener de la descripción y precio de los productos, a la derecha de la imagen*/
.details-container {
  flex-grow: 1; /* Hace que el contenedor ocupe todo el espacio restante a la derecha */
  margin-left: 20px;
  text-align: justify;
}

.stock-container p {
  color: #f10b0b;
  font-size: 0.75rem;
  font-weight: normal;
}

.buy-counter-buttoms {
  display: flex;
  flex-direction: row; /* Organiza los elementos en una fila */
  align-items: center;
  gap: 20px;
}

.buy-container {
  display: block; /* Asegura que el contenedor del botón esté debajo */
  margin-top: 20px;
  width: 30%;
  text-align: left;
}

.buy-counter-buttoms .buy-container .buy-button {
  background-color: #283b54;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.buy-counter-buttoms .buy-container .buy-button:hover {
  background-color: #3d5f8b;
  color: #a6a6a6;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.products-counter-buttons {
  margin-left: 90px;
  margin-top: 25px;
  display: flex; /* Utiliza flexbox */
  align-items: center; /* Alinea verticalmente en el centro */
}

/* Botones de incremento y decremento */
.products-counter-buttons .btn-outline-primary {
  color: #fff;
  background-color: #283b54;
  border-color: #283b54;
}

.products-counter-buttons .btn-outline-primary:hover {
  color: white;
  background-color: #3d5f8b;
  border-color: #3d5f8b;
}

.local-quantity {
  background-color: rgb(233, 231, 231);
  border-color: gray;
  color: gray;
  display: flex;
}

.products-counter-buttons .btn-primary:hover {
  background-color: rgb(233, 231, 231);
  border-color: gray;
  color: gray;
  cursor: default;
}

.product-container .add_button,
.product-container .remove_button {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: none;
}

.products-counter-buttons .circle {
  display: flex;
  align-items: flex-start;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 30px;
  background: #a6a6a6;
  opacity: 0.8;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 460px;
  right: 230px;
  z-index: 1;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
