.search-bar {
  flex: 1; /* Hace que el SearchBar ocupe el máximo espacio disponible */
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
